body {
  background-image: linear-gradient(rgba(62, 20, 20, 0.4), rgba(62, 20, 20, 0.4)), url("../img/pig1.jpg");
  background-size: cover;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  height: 100vh;
  color: #555;
}
.header {
  text-align: center;
  font-family: 'Gaegu', cursive;
  font-size: 150px;
  color: white;
}
.game {
  height: 850px;
  width: 1000px;
  box-sizing: content-box;
  border-radius: 10px;
  border-spacing: 50px;
  background: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    );
  position: absolute;
  bottom: 40%;
  top: 30%;
  text-align: center;
  left: 160px;
}
.active-1 {
  font-family: 'Gamja Flower', cursive;
  font-size: 50px;
  color: white;

}
.active-2 {
  font-family: 'Gamja Flower', cursive;
  font-size: 50px;
  color: white;
}
.current-label {
  background-color: #ff628e;
  color: white;
  background-size: auto;
}
.pig-png {
  size: 100px;
}
